<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">My App</h1>
            <h2 class="subtitle">Example of getting data</h2>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-boxed">
                <ul>
                    <li routerLinkActive="is-active">
                        <a routerLink="/users">
                            Users
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>
